.container{
    display: flex;
}

.sidebar{
    background-color: #0000004D;
    width: 66px;
    display: flex;
    flex-direction: column;
    height: 86.3vh;
    align-items: center;
}

.innerContainer{
    display: flex;
    margin: 50px;
    width: 100%;
}

.screenOne{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 80px 0px 0px;
}

.screenTwo{
    display: flex;
}