.signinWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.scrOne{
    background-color: #26344899;
    padding: 65px 115px;
    text-align: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.scrOne p{
    color: #FFFFFF;
    font-family: var(--font-two);
    opacity: 90%;
    font-size: 24px;
    font-weight: 600;
    line-height: 30.17px;
    letter-spacing: 0.04em;
}

.scrOne input{
    background-color: #0000004D;
    padding: 20px 0px 15px 20px;
    border: 0;
    border-radius: 12px;
    margin: 55px 0px 35px 0px;
    box-shadow: 0px 3px 3px 0px #FFFDFD40 inset;
    width: 370px;
    color: #878787;
    font-weight: 700;
    font-size: 20px;
}

.scrOne input::placeholder{
    font-family: var(--font-one);
    color: #878787;
    letter-spacing: 0.07em;
    font-weight: 700;
    font-size: 20px;
}

.scrTwo{
    background-color: #3547614D;
    padding: 165px 30px;
    text-align: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.scrTwo p{
    font-family: var(--font-three);
    color: #FFF;
    font-size: 18px;
    letter-spacing: 0.04em;
}

.signinBtn{
    background: linear-gradient(180deg, rgba(0, 255, 37, 0.5) 0%, #000801 99.97%, rgba(0, 4, 1, 0.992237) 99.98%, #000000 99.99%, rgba(54, 165, 70, 0.5) 100%, rgba(54, 165, 70, 0.5) 100%);
    border: 0;
    border-color: #8CFF0026;;
    padding: 12px 50px;
    color: #FFFFFF;
    background-color: #8CFF0026;
    border-radius: 20px;
    font-family: var(--font-one);
    font-weight: 700;
    letter-spacing: 0.07em;
    font-size: 16px;
    cursor: pointer;
}
